<div class="d-flex">
  <img
    src="https://mika.mikroskil.ac.id/bundles/mikaglobal/images/berita.png"
    class="d-none d-md-block mr-3"
    style="height: 60px"
  />
  <div>
    <h6 class="mb-0">
      <a href="#" class="news-title"
        >Kesempatan Magang di Wiraland Property Group</a
      >
    </h6>
    <span class="news-category">Umum</span>
    <span class="news-date"> - 27 Nov 2021 11:07:39</span>
    <!-- <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
      consectetur, nisl eget congue consectetur, nisi nunc ultricies purus, eget
      tincidunt nisl nisl eget congue.
    </p> -->
  </div>
</div>
