<div class="d-flex">
  <img
    src="https://mika.mikroskil.ac.id/bundles/mikaglobal/images/berita.png"
    class="d-none d-md-block mr-3"
    style="height: 60px"
  />
  <div>
    <h6 class="mb-0">
      <a href="/berita/detail/<%= berita.id %>" class="news-title"> <%= berita.title %> </a>
    </h6>
    <span class="news-category"> <%= berita.news_categories_name %> </span>
    <span class="news-date">
      <% beritaDate = new Date(berita.createdAt) %> 
      - <%=
      beritaDate.toLocaleDateString('en-GB', { day: 'numeric', month: 'short',
      year: 'numeric' }) + " " + beritaDate.getHours() + ":" +
      beritaDate.getMinutes() + ":" + beritaDate.getSeconds() %>
    </span>
  </div>
</div>
