<div class="d-flex flex-column flex-md-row">
  <img
    class="my-2 m-md-5 mx-auto _profile-image"
    src="https://sps.widyatama.ac.id/wp-content/uploads/2020/08/dummy-profile-pic-male1-300x300.jpg"
  />
  <div class="container-fluid my-md-5 font-weight-bold">
    <div class="row my-2">
      <div class="col-12 col-md-4 text-center text-md-left">Nama / NIM</div>
      <div class="col-12 col-md-8 _font-md-bold text-center text-md-left">
        <%= currentLogin.name %> / <%= currentLogin.nim %>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12 col-md-4 text-center text-md-left">
        Program Studi / Kelas
      </div>
      <div class="col-12 col-md-8 _font-md-bold text-center text-md-left">
        Teknik Informatika / B
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12 col-md-4 text-center text-md-left">Peminatan</div>
      <div class="col-12 col-md-8 _font-md-bold text-center text-md-left">
        Teknik Informatika
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12 col-md-4 text-center text-md-left">
        Semester / Waktu Kuliah
      </div>
      <div class="col-12 col-md-8 _font-md-bold text-center text-md-left">
        III / Sore
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12 col-md-4 text-center text-md-left">Dosen Wali</div>
      <div class="col-12 col-md-8 _font-md-bold text-center text-md-left">
        Albert Prima Laia, S.Kom
      </div>
    </div>
  </div>
</div>
