<div
  class="nav navbar-expand-lg mb-5"
  style="width: 100%; height: 50px; background: #094584"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    id="navbarSupportedContent"
    class="
      d-lg-flex
      justify-content-center
      align-items-center
      h-100
      mx-auto
      collapse
      navbar-collapse
    "
    style="width: 100%"
  >
    <div class="d-flex justify-content-center align-items-center h-100 mr-5">
      <img
        class="d-none d-lg-block"
        style="height: 40px"
        src="https://mika.mikroskil.ac.id/bundles/mikaglobal/images/mika.png"
      />
      <a class="nav-item mikro-nav-link" href="/home"> Home </a>
      <a class="nav-item mikro-nav-link" href="/berita"> Berita </a>
      <a class="nav-item mikro-nav-link" href="/profile"> Profile </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Tugas Akhir </a>
    </div>
    <a class="nav-item mikro-nav-link ml-5" href="/logout"> Logout </a>
  </div>
</div>
