<nav
  class="navbar navbar-expand-lg navbar-dark mb-3"
  style="width: 100%; min-height: 60px; background: #094584"
>
  <button
    class="navbar-toggler ml-auto main-menu-btn"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    style="color: white"
  >
    <span>Mika Main Menu</span>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    id="navbarSupportedContent"
    class="
      d-lg-flex
      justify-content-center
      align-items-center
      mx-auto
      collapse
      navbar-collapse
    "
    style="width: 100%"
  >
    <img
      class="d-none d-lg-block"
      style="height: 40px"
      src="https://mika.mikroskil.ac.id/bundles/mikaglobal/images/mika.png"
    />
    <div class="navbar-nav">
      <a class="nav-item mikro-nav-link" href="/home"> Home </a>
      <a class="nav-item mikro-nav-link" href="/berita"> Berita </a>
      <a class="nav-item mikro-nav-link" href="/profile"> Profile </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link mr-5" href="/absensi">Tugas Akhir</a>

      <a class="nav-item mikro-nav-link ml-lg-5" href="/logout"> Logout </a>
    </div>
  </div>
</nav>
