<nav
  class="navbar navbar-expand-lg navbar-dark mb-3"
  style="width: 100%; min-height: 60px; background: #094584"
>
  <button
    class="navbar-toggler ml-auto main-menu-btn"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    style="color: white"
  >
    <span>Mika Main Menu</span>
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    id="navbarSupportedContent"
    class="
      d-lg-flex
      justify-content-center
      align-items-center
      mx-auto
      collapse
      navbar-collapse
    "
    style="width: 100%"
  >
    <img
      class="d-none d-lg-block"
      style="height: 40px"
      src="https://mika.mikroskil.ac.id/bundles/mikaglobal/images/mika.png"
    />
    <div class="navbar-nav">
      <a class="nav-item mikro-nav-link" href="/home"> Home </a>
      <a class="nav-item mikro-nav-link" href="/berita"> Berita </a>
      <a class="nav-item mikro-nav-link" href="/profile"> Profile </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <div class="nav-item dropdown">
        <a class="mikro-nav-link dropdown-toggle" href="#", id="nilaiDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nilai
        </a>
        <div class="dropdown-menu position-absolute" aria-labelledby="nilaiDropdown" style="width: 1150px;">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link" href="/absensi"> Absensi </a>
      <a class="nav-item mikro-nav-link mr-5" href="/absensi">Tugas Akhir</a>

      <a class="nav-item mikro-nav-link ml-lg-5" href="/logout"> Logout </a>
    </div>
  </div>
</nav>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>
  const listenerFunc = function() {
    const windowWidth = $(window).width();

    if(windowWidth >= 992) {
      $(".dropdown-menu").css("left", "-490px");
      $(".dropdown-menu").css("width", "1150px");
      $(".dropdown-toggle").addClass("disabled")
    } else {
      $(".dropdown-menu").css("left", "0px")
      $(".dropdown-menu").css("width", "100%");
      $(".dropdown-toggle").removeClass("disabled")
    }

  }

  $(window).resize(listenerFunc);
  listenerFunc();
</script>