select {
  border-radius: 0 !important;
}

.mikro-nav-link {
  color: rgb(226, 226, 226);
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.mikro-nav-link:hover {
  color: #c4c4c4;
  text-decoration: none;
}

.main-menu-btn {
  background-color: #0d67c4;
  border-radius: 0;
  font-size: 0.95rem;
  font-weight: bold;
}

.main-menu-btn:focus {
  outline: none;
}

.news-title {
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
  text-decoration: underline;
}

.news-category {
  font-weight: bold;
  font-size: 0.85rem;
  color: #094584;
}

.news-date {
  font-weight: bold;
  font-size: 0.7rem;
  color: #c04a48;
}

.news-block-container {
  border-bottom: 1px solid #c4c4c4;
}

._profile-accordion-header-card {
  border-radius: 0;
}

._profile-accordion-header-container {
  background-color: #094584;
}

._profile-accordion-button {
  border-radius: 0;
  border: 0;
  outline: 0;
}

._profile-accordion-header-card {
  border-bottom: 0;
}

._profile-accordion-button {
  color: #165190;
  font-size: 0.8rem;
  font-weight: bold;
}

._font-md-bold {
  font-weight: bold;
}

._profile-image {
  height: 100px;
}

@media (max-width: 767px) {
  ._font-md-bold {
    font-weight: normal;
  }

  ._profile-image {
    width: 100px;
  }
}

@media (max-width: 991px) {
  .mikro-nav-link {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0.35rem 0;
  }
}

/* Overwrite Bootstrap - Start */
._profile-accordion-button[aria-expanded="false"] {
  color: #fff;
  background-color: #094584;
}

._profile-accordion-button[aria-expanded="true"] {
  color: #000;
  background-color: white;
}

.btn:focus {
  box-shadow: none;
}

.accordion .collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

@media (max-width: 767px) {
  ._profile-accordion-button[aria-expanded="true"] {
    color: #fff;
    background-color: #094584;
  }
  .container-fluid {
    padding: 0;
  }
}
/* Overwrite Bootstrap - End */
